<div>
    <div class="container">
        <ul class="d-flex flex-wrap list-reset clr-quaternary fts-14 lh-1-2143 ftw-400 SFProDisplay pdt-30 pdt-lg-42 mrb-20 mrb-lg-18">
            <li>
                <span class="d-flex">
                    <span>
                        <a class="d-block clr-inh clr-accent-h" href="#">
                            <span class="d-block pdl-5 pdr-5 pdt-5 pdb-5 mrl-5- mrr-5- mrt-5- mrb-5-">
                                Главная
                            </span>
                        </a>
                    </span>
                    <span class="pdl-2 pdr-2 pdl-lg-4 pdr-lg-3">
                        <span class="d-block">/</span>
                    </span>
                </span>
            </li>
            <li>
                <span class="d-flex">
                    <span>
                        <a class="d-block clr-inh clr-accent-h" href="#">
                            <span class="d-block pdl-5 pdr-5 pdt-5 pdb-5 mrl-5- mrr-5- mrt-5- mrb-5-">
                                Каталог
                            </span>
                        </a>
                    </span>
                    <span class="pdl-2 pdr-2 pdl-lg-4 pdr-lg-3">
                        <span class="d-block">/</span>
                    </span>
                </span>
            </li>
            <li>
                <span class="d-flex">
                    <span>
                        <span class="d-block clr-black">
                            <span class="d-block pdl-5 pdr-5 pdt-5 pdb-5 mrl-5- mrr-5- mrt-5- mrb-5-">
                                Фасады из массива
                            </span>
                        </span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>