<div class="pdt-60 pdt-lg-85">
    <div class="bg-clr-accent clr-white">
        <div class="container">
            <footer class="d-block pdt-13 pdb-17 pdt-lg-50 pdb-lg-47 Roboto fts-13">
                 <div class="d-flex flex-wrap flex-lg-nowrap mrl-6- mrr-6- mrl-lg-10- mrr-lg-10- mrb-8 mrb-lg-57">
                    <div class="col-6 col-lg-auto mnw-0 pdl-6 pdr-6 pdl-lg-10 pdr-lg-10 pdb-13 pdb-lg-20 mrr-69 flex-shrink-0">
                        <h6 class="fts-13 ftw-700 tt-upp lh-1-3462 mrb-3 mrb-lg-14">О КОМПАНИИ</h6>
                        <div class="d-none d-lg-block">
                            <p class="fts-13 lh-1-25 mrb-20">Мы в соцсетях</p>
                            <div class="d-block mrb-24">
                                <ul class="mrl-6- mrr-6- mrb-11- list-reset d-flex align-items-center flex-wrap">
                                    <li class="d-block pdl-6 pdr-6 pdb-11">
                                        <a class="d-block" href="#" target="_blank">
                                            <img class="d-block" src="./img/social/vk.png" alt="Vk">
                                        </a>
                                    </li>
                                    <li class="d-block pdl-6 pdr-6 pdb-11">
                                        <a class="d-block" href="#" target="_blank">
                                            <img class="d-block" src="./img/social/ok.png" alt="Vk">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <p class="fts-11">ICQ - 708112762</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-auto mnw-0 pdl-6 pdr-6 pdl-lg-10 pdr-lg-10 pdb-13 pdb-lg-20 mrr-lg-72">
                        <h6 class="fts-13 ftw-700 tt-upp lh-1-3462 mrb-3 mrb-lg-14">ФАСАДЫ ДЛЯ КУХНИ</h6>
                        <ul class="d-block list-reset">
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Фасады крашеные МДФ</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Фасады в пластике</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Фасады натуральные</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Фасады шпонированные</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-auto mnw-0 pdl-6 pdr-6 pdl-lg-10 pdr-lg-10 pdb-13 pdb-lg-20 mrr-lg-72 flex-grow-1 fts-12">
                        <h6 class="fts-13 ftw-700 tt-upp lh-1-3462 mrb-3 mrb-lg-14">СТОЛЕШНИЦЫ</h6>
                        <ul class="d-block list-reset">
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Мойки из искусственного камня</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Столешница из искусственного камня</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-auto mnw-0 pdl-6 pdr-6 pdl-lg-10 pdr-lg-10 pdb-13 pdb-lg-20 mrr-lg-63 fts-14">
                        <h6 class="fts-13 ftw-700 tt-upp lh-1-3462 mrb-3 mrb-lg-14">МОДУЛИ ДЛЯ КУХНИ</h6>
                        <ul class="d-block list-reset">
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Модули нижние</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Модуди верхние</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Универсальные</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Пеналы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-auto mnw-0 pdl-6 pdr-6 pdl-lg-10 pdr-lg-10 pdb-24 pdb-lg-20">
                        <h6 class="fts-13 ftw-700 tt-upp lh-1-3462 mrb-3 mrb-lg-14">ДЛЯ КЛИЕНТОВ</h6>
                        <ul class="d-block list-reset">
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Прайс-лист</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Инструкция по эксплуатации</a>
                            </li>
                            <li class="d-flex flex-column align-items-start pdb-1">
                                <a class="ftw-500 lh-1-25 clr-white clr-white-h td-un-h" href="#">Гарантийные обязательства</a>
                            </li>
                        </ul>
                    </div>
                 </div>
                 <div class="row mrl-10- mrr-10- mrb-24- mrb-lg-20-">
                    <div class="col-12 col-lg-4 pdl-10 pdr-10 pdb-24 pdb-lg-20 fts-12">
                        <div class="mrb-11">
                            <p class="mrb-1">Фабрика мебельных фасадов «Хамелеон».</p>
                            <p class="mrb-1">г. Ростов-на-Дону, ул.Троллейбусная,16 в</p>
                            <p class="mrb-1">г. Краснодар, ул.Новороссийская 172/8</p>
                        </div>
                        <p class="mrb-1">&copy; hameleonfasad.ru 2010-2023</p>
                    </div>
                    <div class="col-12 col-lg-5 pdl-10 pdr-10 pdb-13 pdb-lg-20 d-none d-lg-block">
                        <div class="mrb-11 pdl-26">
                            <p class="mrb-1">Мебельное производство Хамелеон, производит мебельные фасады, столешницы из искусственного камня.</p>
                            <p class="mrb-1">Осуществляет доставку монтаж и ремонт продукции.</p>
                            <p class="mrb-1">Производство фасадов, выполняется нами из массива и мдф.</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 pdl-10 pdr-10 pdb-24 pdb-lg-20 
                    d-lg-none">
                        <div>
                            <p class="fts-13 lh-1-25 mrb-14 mrb-lg-20">Мы в соцсетях</p>
                            <div class="d-block mrb-24">
                                <ul class="mrl-6- mrr-6- mrb-11- list-reset d-flex align-items-center flex-wrap">
                                    <li class="d-block pdl-6 pdr-6 pdb-11">
                                        <a class="d-block" href="#" target="_blank">
                                            <img class="d-block" src="./img/social/vk.png" alt="Vk">
                                        </a>
                                    </li>
                                    <li class="d-block pdl-6 pdr-6 pdb-11">
                                        <a class="d-block" href="#" target="_blank">
                                            <img class="d-block" src="./img/social/ok.png" alt="Vk">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <p class="fts-11">ICQ - 708112762</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>