<div class="bg-clr-accent d-lg-none p-rel z-i-9991">
    <div class="container">
        <nav class="d-block pdt-10 pdb-9">
            <div class="d-flex align-items-center mrl-25- mrr-25-">
                <div class="pdl-25 pdr-25 flex-grow-1">
                    <button class="btn btn--default mnh-32 br-0 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay pdl-34 pdr-34 pdl-xl-26 pdr-xl-22 clr-white clr-white-h bg-clr-tra" type="button" data-js-nav-trigger="catalog" data-js-toggle-class="clr-white>clr-accent,clr-white-h>clr-accent-h,bg-clr-tra>bg-clr-white,>bgi-none">
                        <span class="mnw-0">
                            <span class="mrl-19- mrr-19- d-flex justify-content-center align-items-center">
                                <span class="pdl-19 pdr-19 mnw-0 fts-14 ftw-700 lh-1-3">Каталог</span>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="pdl-25 pdr-25">
                    <button class="btn-reset d-block clr-white" data-js-nav-trigger="search">
                        <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                            <i class="icon-search tra-0-3s-ease fts-22 fts-xl-28"></i>
                        </span>
                    </button>
                </div>
                <div class="pdl-25 pdr-25">
                    <button class="btn-reset d-block clr-white" data-js-nav-trigger="hamburger">
                        <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10- p-rel z-i-1">
                            <i class="icon-hamburger tra-0-2s-ease fts-18 fts-xl-28 opc-1 vsb-visb" data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd"></i>
                            <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 d-flex align-items-center justify-content-center opc-0 vsb-hidd tra-0-2s-ease" data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                <i class="icon-close tra-0-3s-ease fts-25"></i>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="p-abs l-0 r-0 z-i-9990 t-0 t-nav pdt-lg-14 pdb-30 t-trY-100-p- opc-0 vsb-hidd tra-0-3s-ease d-lg-none" data-js-nav="hamburger">
    <div data-js-nav-outside-close>
        <div class="container" data-js-nav-outside-close>
            <div class="mnh-100-p">
                <div class="bg-clr-quaternary-4 pdl-26 pdt-26 pdr-26 pdb-31 pdl-lg-48 pdr-lg-48 pdt-lg-42 pdb-lg-42 brtlr-lg-9 brtrr-lg-9 brbrr-9 brblr-9 mxh-nav over-au">
                    <div class="mxw-1030 over-hid">
                        <div class="row mrl-36- mrr-36- mrb-25-">
                            <div class="col-12 pdl-36 pdr-36 pdb-25">
                                <div class="d-block">
                                    <ul class="d-block list-reset fts-17 ftw-700 lh-1-2858 tt-upp mrb-19- SFProDisplay">
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">О КОМПАНИИ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">ДОСТАВКА И ОПЛАТА</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">СЕРТИФИКАТЫ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">КОНТАКТЫ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">ФАСАДЫ ДЛЯ КУХНИ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">СТОЛЕШНИЦЫ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">МОДУЛИ ДЛЯ КУХНИ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-19">
                                            <a class="mxw-100-p mnw-0 clr-accent clr-black-h td-un-h" href="#">ДЛЯ КЛИЕНТОВ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-abs l-0 r-0 z-i-9990 t-0 t-nav pdt-lg-14 pdb-30 t-trY-100-p- opc-0 vsb-hidd tra-0-3s-ease" data-js-nav="catalog" data-js-nav-outside-close>
    <div data-js-nav-outside-close>
        <div class="container" data-js-nav-outside-close>
            <div class="mnh-100-p">
                <div class="bg-clr-quaternary-4 pdl-34 pdt-48 pdr-34 pdb-48 pdl-lg-48 pdr-lg-48 pdt-lg-42 pdb-lg-42 brtlr-lg-9 brtrr-lg-9 brbrr-9 brblr-9 mxh-nav over-au">
                    <div class="mxw-1030 over-hid">
                        <div class="row mrl-36- mrr-36- mrb-25-">
                            <div class="col-12 col-lg-4 col-xl-3 pdl-36 pdr-36 pdb-25">
                                <div class="d-block">
                                    <ul class="d-block list-reset fts-14 ftw-700 lh-1-2858 tt-upp mrb-26-">
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Фасады МДФ В ПЛЕНКЕ</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Фасады в пластике</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Крашенные фасады</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">ФАСАДЫ ИЗ МАССИВА</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-xl-3 pdl-36 pdr-36 pdb-25">
                                <div class="d-block">
                                    <ul class="d-block list-reset fts-14 ftw-700 lh-1-2858 tt-upp mrb-26-">
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Алюминиевые фасады</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Акриловые фасады</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Комплектующие</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">замена фасадов</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-xl-3 pdl-36 pdr-36 pdb-25">
                                <div class="d-block">
                                    <ul class="d-block list-reset fts-14 ftw-700 lh-1-2858 tt-upp mrb-26-">
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Фасады для кухни</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Фасады для шкафов</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Столешницы и фартуки</a>
                                        </li>
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">Бесплатный замер</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-xl-3 pdl-36 pdr-36 pdb-25">
                                <div class="d-block">
                                    <ul class="d-block list-reset fts-14 ftw-700 lh-1-2858 tt-upp mrb-26-">
                                        <li class="d-flex align-items-start mrb-26">
                                            <a class="mxw-100-p mnw-0 clr-black clr-accent-h td-un-h" href="#">ЗАМЕНА СТОЛЕШНИЦ НА КУХНЕ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-abs l-0 r-0 z-i-9990 t-0 t-nav pdt-lg-14 pdb-30 t-trY-100-p- opc-0 vsb-hidd tra-0-3s-ease d-lg-none" data-js-nav="search">
    <div data-js-nav-outside-close>
        <div class="container" data-js-nav-outside-close>
            <div class="mnh-100-p">
                <div class="bg-clr-quaternary-4 pdl-26 pdt-26 pdr-26 pdb-31 pdl-lg-48 pdr-lg-48 pdt-lg-42 pdb-lg-42 brtlr-lg-9 brtrr-lg-9 brbrr-9 brblr-9 mxh-nav over-au">
                    <form class="d-block" action="#">
                        <div>
                            <div class="d-block p-rel">
                                <input class="d-block w-100-p mnh-40 lh-36-px brw-1 brs-sol clr-quaternary-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-18 pdr-52 clr-black" type="text" placeholder="Поиск по сайту">
                                <button class="p-abs r-0 t-0 b-0 z-i-1 d-flex align-items-center btn-reset pdr-15 pdl-15 clr-quaternary clr-accent-h tra-0-3s-ease">
                                    <span class="d-block">
                                        <i class="icon-search fts-22"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>