<aside class="d-block">
     <div class="d-block mrb-55">
        <header class="d-block mrb-43">
            <div class="d-flex align-items-center justify-content-between mrl-18- mrr-18-">
                <div class="pdl-18 pdr-18 flex-shrink-0 flex-lg-grow-1">
                    <div class="p-rel z-i-1 mnh-53 mnh-lg-44 text-center d-flex justify-content-center align-items-center bg-lngr-quaternary-2 clr-white brtlr-8 brtrr-8 brbrr-8 brblr-8 w-100-p mnw-271 mnw-md-0">
                        <h6 class="fts-22 fts-md-16 ftw-700 tt-upp pdl-64 pdl-md-30 pdr-md-30 pdl-lg-0 pdr-lg-0 lh-1">КАТАЛОГ</h6>
                        <span class="d-block p-abs l-0 t-0 b-0 z-i-1- mnw-49">
                            <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 44" fill="none">
                                <path d="M0 12.96C0 8.32853 0 6.01279 0.929875 4.25656C1.68028 2.8393 2.8393 1.68028 4.25656 0.929875C6.01279 0 8.32853 0 12.96 0H34.0321C39.9224 0 42.8676 0 44.8396 1.26257C46.4234 2.27663 47.5994 3.81627 48.161 5.61114C48.8602 7.84588 48.0853 10.6873 46.5355 16.37L41.6045 34.45C40.6523 37.9415 40.1762 39.6872 39.1569 40.972C38.3311 42.013 37.259 42.8319 36.0374 43.3547C34.5297 44 32.7202 44 29.1012 44H12.96C8.32853 44 6.01279 44 4.25656 43.0701C2.8393 42.3197 1.68028 41.1607 0.929875 39.7434C0 37.9872 0 35.6715 0 31.04V12.96Z" fill="#137039"/>
                                <path d="M0 12.96C0 8.32853 0 6.01279 0.929875 4.25656C1.68028 2.8393 2.8393 1.68028 4.25656 0.929875C6.01279 0 8.32853 0 12.96 0H34.0321C39.9224 0 42.8676 0 44.8396 1.26257C46.4234 2.27663 47.5994 3.81627 48.161 5.61114C48.8602 7.84588 48.0853 10.6873 46.5355 16.37L41.6045 34.45C40.6523 37.9415 40.1762 39.6872 39.1569 40.972C38.3311 42.013 37.259 42.8319 36.0374 43.3547C34.5297 44 32.7202 44 29.1012 44H12.96C8.32853 44 6.01279 44 4.25656 43.0701C2.8393 42.3197 1.68028 41.1607 0.929875 39.7434C0 37.9872 0 35.6715 0 31.04V12.96Z" fill="url(#paint0_linear_115_651)"/>
                                <defs>
                                <linearGradient id="paint0_linear_115_651" x1="5.08039" y1="11.2375" x2="47.8337" y2="28.2788" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#C6C6C6"/>
                                <stop offset="1" stop-color="#CECECE"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <svg class="d-block d-lg-none" xmlns="http://www.w3.org/2000/svg" width="80" height="53" viewBox="0 0 80 53" fill="none">
                                <path d="M0 12.96C0 8.32853 0 6.01279 0.929875 4.25656C1.68028 2.8393 2.8393 1.68028 4.25656 0.929875C6.01279 0 8.32853 0 12.96 0H64.4127C70.7944 0 73.9852 0 76.0196 1.38105C77.6508 2.48836 78.8156 4.15897 79.2906 6.07237C79.8831 8.4588 78.7799 11.4529 76.5734 17.441L66.5949 44.521C65.4455 47.6403 64.8708 49.2 63.8511 50.3382C63.024 51.2614 61.9937 51.9798 60.8414 52.4367C59.4208 53 57.7586 53 54.4342 53H12.96C8.32853 53 6.01279 53 4.25656 52.0701C2.8393 51.3197 1.68028 50.1607 0.929875 48.7434C0 46.9872 0 44.6715 0 40.04V12.96Z" fill="#137039"/>
                                <path d="M0 12.96C0 8.32853 0 6.01279 0.929875 4.25656C1.68028 2.8393 2.8393 1.68028 4.25656 0.929875C6.01279 0 8.32853 0 12.96 0H64.4127C70.7944 0 73.9852 0 76.0196 1.38105C77.6508 2.48836 78.8156 4.15897 79.2906 6.07237C79.8831 8.4588 78.7799 11.4529 76.5734 17.441L66.5949 44.521C65.4455 47.6403 64.8708 49.2 63.8511 50.3382C63.024 51.2614 61.9937 51.9798 60.8414 52.4367C59.4208 53 57.7586 53 54.4342 53H12.96C8.32853 53 6.01279 53 4.25656 52.0701C2.8393 51.3197 1.68028 50.1607 0.929875 48.7434C0 46.9872 0 44.6715 0 40.04V12.96Z" fill="url(#paint0_linear_162_1384)"/>
                                <defs>
                                <linearGradient id="paint0_linear_162_1384" x1="8.26809" y1="13.5361" x2="70.7734" y2="47.1977" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#C6C6C6"/>
                                <stop offset="1" stop-color="#CECECE"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="pdl-18 pdr-18 d-lg-none">
                    <button class="btn-reset d-block clr-white" id="close">
                        <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                            <i class="icon-filter fts-33 clr-gray-3 tra-0-3s-ease"></i>
                        </span>
                    </button>
                </div>
            </div>
        </header>
        <div class="d-block">
            <ul class="d-block list-reset fts-14 ftw-700 tt-upp lh-1-2858">
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h mrr-30" href="#">Фасады МДФ В ПЛЕНКЕ</a>
                        <button class="btn-reset d-block clr-white p-abs r-2 b-0 t-0 z-i-1" type="button">
                            <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                                <span class="d-flex align-items-center mrl-7- mrr-7-">
                                    <span class="pdl-7 pdr-7">
                                        <i class="icon-arrow-right fts-19 clr-accent-3 tra-0-3s-ease"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">Фасады в пластике</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h mrr-30" href="#">Крашенные фасады</a>
                        <button class="btn-reset d-block clr-white p-abs r-2 b-0 t-0 z-i-1" type="button">
                            <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                                <span class="d-flex align-items-center mrl-7- mrr-7-">
                                    <span class="pdl-7 pdr-7">
                                        <i class="icon-arrow-right fts-19 clr-accent-3 tra-0-3s-ease"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">ФАСАДЫ ИЗ МАССИВА</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h mrr-30" href="#">Алюминиевые фасады</a>
                        <button class="btn-reset d-block clr-white p-abs r-2 b-0 t-0 z-i-1" type="button">
                            <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                                <span class="d-flex align-items-center mrl-7- mrr-7-">
                                    <span class="pdl-7 pdr-7">
                                        <i class="icon-arrow-right fts-19 clr-accent-3 tra-0-3s-ease"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h mrr-30" href="#">Акриловые фасады</a>
                        <button class="btn-reset d-block clr-white p-abs r-2 b-0 t-0 z-i-1" type="button">
                            <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                                <span class="d-flex align-items-center mrl-7- mrr-7-">
                                    <span class="pdl-7 pdr-7">
                                        <i class="icon-arrow-right fts-19 clr-accent-3 tra-0-3s-ease"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">Комплектующие</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">замена фасадов</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">Фасады для кухни</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">Фасады для шкафов</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">Столешницы и фартуки</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">Бесплатный замер</a>
                    </div>
                </li>
                <li class="d-block mrb-26">
                    <div class="d-flex flex-column align-items-start p-rel z-i-1">
                        <a class="d-block clr-accent-h td-un-h" href="#">ЗАМЕНА СТОЛЕШНИЦ НА КУХНЕ</a>
                    </div>
                </li>
            </ul>
        </div>
     </div>
     <div class="d-block">
        <form class="d-block" action="#">
            <header class="d-block mrb-25">
                <div class="d-flex align-items-center mrl-7- mrr-7-">
                    <div class="pdl-7 pdr-7">
                        <i class="icon-filter fts-20 clr-gray tra-0-3s-ease"></i>
                    </div>
                    <div class="pdl-7 pdr-7">
                        <span class="d-block fts-18 ftw-600 lh-1-2778 clr-black-2 FuturaPT">Фильтр моделей</span>
                    </div>
                </div>
            </header>
            <div class="d-block mrb-50 mrb-lg-100 pdb-lg-7">
                <div class="d-block mrb-18">
                    <div class="d-block mrb-30">
                        <p class="fts-16 ftw-500 clr-black opc-0-7 lh-1-3125 FuturaPT mrb-21">Цена</p>
                        <div data-js-range-slider="#sliderPrice" data-js-range-slider-min="0" data-js-range-slider-max="100000" data-js-range-slider-step="1000">
                            <div class="d-block mrb-11">
                                <div class="row">
                                    <div class="col-6 pdl-12 pdr-12">
                                        <div class="d-block p-rel z-i-1">
                                            <input class="d-block w-100-p mnh-35 lh-31-px brw-1 brs-sol clr-quaternary-3-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-6 pdr-24 clr-quaternary-7" type="text" data-js-range-slider-input-min>
                                            <span class="p-abs r-8 b-0 t-0 z-i-1 d-flex align-items-center">
                                                <i class="icon-rub fts-11 clr-quaternary-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 pdl-12 pdr-12">
                                        <div class="d-block p-rel z-i-1">
                                            <input class="d-block w-100-p mnh-35 lh-31-px brw-1 brs-sol clr-quaternary-3-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-6 pdr-24 clr-quaternary-7" type="text" data-js-range-slider-input-max>
                                            <span class="p-abs r-8 b-0 t-0 z-i-1 d-flex align-items-center">
                                                <i class="icon-rub fts-11 clr-quaternary-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="slider d-none" type="text" id="sliderPrice" name="test" data-js-range-slider-input>
                        </div>
                    </div>
                    <div class="d-block">
                        <p class="fts-16 ftw-500 clr-black opc-0-7 lh-1-3125 FuturaPT mrb-18">Размер</p>
                        <div class="d-block">
                            <p class="fts-16 ftw-500 clr-quaternary-7 lh-1-3125 FuturaPT mrb-12">Ширина</p>
                            <div data-js-range-slider="#sliderWidth" data-js-range-slider-min="0" data-js-range-slider-max="500" data-js-range-slider-step="1" data-js-range-slider-input-set="100,400">
                                <div class="d-block">
                                    <div class="row">
                                        <div class="col-6 pdl-12 pdr-12">
                                            <div class="d-block p-rel z-i-1">
                                                <input class="d-block w-100-p mnh-35 lh-31-px brw-1 brs-sol clr-quaternary-3-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-6 pdr-24 clr-quaternary-7" type="text" data-js-range-slider-input-min>
                                                <span class="p-abs r-8 b-0 t-0 z-i-1 d-flex align-items-center">
                                                    <span class="d-block fts-16 ftw-400 FuturaPT clr-quaternary-7">мм</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6 pdl-12 pdr-12">
                                            <div class="d-block p-rel z-i-1">
                                                <input class="d-block w-100-p mnh-35 lh-31-px brw-1 brs-sol clr-quaternary-3-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-6 pdr-24 clr-quaternary-7" type="text" data-js-range-slider-input-max>
                                                <span class="p-abs r-8 b-0 t-0 z-i-1 d-flex align-items-center">
                                                    <span class="d-block fts-16 ftw-400 FuturaPT clr-quaternary-7">мм</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input class="slider d-none" type="text" id="sliderWidth" name="test" data-js-range-slider-input>
                            </div>
                        </div>
                        <div class="d-block">
                            <p class="fts-16 ftw-500 clr-quaternary-7 lh-1-3125 FuturaPT mrb-12">Высота</p>
                            <div data-js-range-slider="#sliderHeight" data-js-range-slider-min="0" data-js-range-slider-max="500" data-js-range-slider-step="1" data-js-range-slider-input-set="100,400">
                                <div class="d-block">
                                    <div class="row">
                                        <div class="col-6 pdl-12 pdr-12">
                                            <div class="d-block p-rel z-i-1">
                                                <input class="d-block w-100-p mnh-35 lh-31-px brw-1 brs-sol clr-quaternary-3-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-6 pdr-24 clr-quaternary-7" type="text" data-js-range-slider-input-min>
                                                <span class="p-abs r-8 b-0 t-0 z-i-1 d-flex align-items-center">
                                                    <span class="d-block fts-16 ftw-400 FuturaPT clr-quaternary-7">мм</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6 pdl-12 pdr-12">
                                            <div class="d-block p-rel z-i-1">
                                                <input class="d-block w-100-p mnh-35 lh-31-px brw-1 brs-sol clr-quaternary-3-br brtlr-4 brtrr-4 brbrr-4 brblr-4 fts-14 ftw-400 plchdr-clr-quaternary pdl-6 pdr-24 clr-quaternary-7" type="text" data-js-range-slider-input-max>
                                                <span class="p-abs r-8 b-0 t-0 z-i-1 d-flex align-items-center">
                                                    <span class="d-block fts-16 ftw-400 FuturaPT clr-quaternary-7">мм</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input class="slider d-none" type="text" id="sliderHeight" name="test" data-js-range-slider-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block mrb-25">
                    <p class="fts-16 ftw-500 clr-quaternary-7 lh-1-3125 FuturaPT mrb-12">Материал фасада</p>
                    <div class="d-block">
                        <div class="d-flex flex-column align-items-start mrb-13-">
                            <div class="mrb-13">
                                <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                    <span class="d-flex justify-content-center mnw-0">
                                        <span class="d-flex flex-column mnw-0">
                                            <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                            <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                    <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block mnh-20 mnw-20 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-1 brs-sol clr-quaternary-3-br brr-inh bg-clr-white"></span>
                                                                <span class="d-block brr-inh tra-0-2s-ease p-rel z-i-10" data-switch-control-toggle-opc-0="">
                                                                    <span class="mnw-10 mnh-10 brr-inh bg-clr-accent-3 d-block"></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block tra-0-2s-ease fts-16 ftw-400 lh-1-3125 clr-gray-2 FuturaPT" data-form-control-text="">1 чекбокс</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="mrb-13">
                                <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                    <span class="d-flex justify-content-center mnw-0">
                                        <span class="d-flex flex-column mnw-0">
                                            <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                            <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                    <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block mnh-20 mnw-20 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-1 brs-sol clr-quaternary-3-br brr-inh bg-clr-white"></span>
                                                                <span class="d-block brr-inh tra-0-2s-ease p-rel z-i-10" data-switch-control-toggle-opc-0="">
                                                                    <span class="mnw-10 mnh-10 brr-inh bg-clr-accent-3 d-block"></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block tra-0-2s-ease fts-16 ftw-400 lh-1-3125 clr-gray-2 FuturaPT" data-form-control-text="">2 чекбокс</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="mrb-13">
                                <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                    <span class="d-flex justify-content-center mnw-0">
                                        <span class="d-flex flex-column mnw-0">
                                            <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                            <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                    <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block mnh-20 mnw-20 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-1 brs-sol clr-quaternary-3-br brr-inh bg-clr-white"></span>
                                                                <span class="d-block brr-inh tra-0-2s-ease p-rel z-i-10" data-switch-control-toggle-opc-0="">
                                                                    <span class="mnw-10 mnh-10 brr-inh bg-clr-accent-3 d-block"></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block tra-0-2s-ease fts-16 ftw-400 lh-1-3125 clr-gray-2 FuturaPT" data-form-control-text="">3 чекбокс</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="mrb-13">
                                <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                    <span class="d-flex justify-content-center mnw-0">
                                        <span class="d-flex flex-column mnw-0">
                                            <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                            <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                    <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block mnh-20 mnw-20 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-1 brs-sol clr-quaternary-3-br brr-inh bg-clr-white"></span>
                                                                <span class="d-block brr-inh tra-0-2s-ease p-rel z-i-10" data-switch-control-toggle-opc-0="">
                                                                    <span class="mnw-10 mnh-10 brr-inh bg-clr-accent-3 d-block"></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block tra-0-2s-ease fts-16 ftw-400 lh-1-3125 clr-gray-2 FuturaPT" data-form-control-text="">4 чекбокс</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block mrb-34">
                    <p class="fts-16 ftw-500 clr-quaternary-7 lh-1-3125 FuturaPT mrb-12">Назначение</p>
                    <div class="d-block">
                        <div class="d-flex flex-column align-items-start mrb-13-">
                            <div class="mrb-13">
                                <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                    <span class="d-flex justify-content-center mnw-0">
                                        <span class="d-flex flex-column mnw-0">
                                            <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                            <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                    <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block mnh-20 mnw-20 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-1 brs-sol clr-quaternary-3-br brr-inh bg-clr-white"></span>
                                                                <span class="d-block brr-inh tra-0-2s-ease p-rel z-i-10" data-switch-control-toggle-opc-0="">
                                                                    <span class="mnw-10 mnh-10 brr-inh bg-clr-accent-3 d-block"></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block tra-0-2s-ease fts-16 ftw-400 lh-1-3125 clr-gray-2 FuturaPT" data-form-control-text="">1 чекбокс</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="mrb-13">
                                <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                    <span class="d-flex justify-content-center mnw-0">
                                        <span class="d-flex flex-column mnw-0">
                                            <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                            <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                    <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block mnh-20 mnw-20 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-1 brs-sol clr-quaternary-3-br brr-inh bg-clr-white"></span>
                                                                <span class="d-block brr-inh tra-0-2s-ease p-rel z-i-10" data-switch-control-toggle-opc-0="">
                                                                    <span class="mnw-10 mnh-10 brr-inh bg-clr-accent-3 d-block"></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-5 mnw-0">
                                                            <span class="d-block tra-0-2s-ease fts-16 ftw-400 lh-1-3125 clr-gray-2 FuturaPT" data-form-control-text="">2 чекбокс</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block">
                    <p class="fts-16 ftw-400 clr-quaternary-7 lh-1-3125 FuturaPT mrb-10">Фильтр с табом</p>
                    <div class="d-block">
                        <div class="d-flex flex-column align-items-center mrb-13-">
                            <div class="mrb-13 w-100-p">
                                <div class="d-flex mrl-5- mrr-5-">
                                    <div class="pdl-5 pdr-5 flex-grow-1">
                                        <p class="fts-16 ftw-500 clr-quaternary-7 lh-1-3125 FuturaPT">Таб 1</p>
                                    </div>
                                    <div class="pdl-5 pdr-5">
                                        <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                            <span class="d-flex justify-content-center mnw-0">
                                                <span class="d-flex flex-column mnw-0">
                                                    <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                                    <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                        <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                            <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                                <span class="pdl-5 pdr-5 mnw-0">
                                                                    <span class="d-block mnh-22 mnw-39 brtlr-23 brtrr-23 brbrr-23 brblr-23 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                        <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 bg-clr-quaternary-3 brr-inh tra-0-2s-ease" data-switch-control-toggle-opc-1></span>
                                                                        <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 bg-clr-accent-3 brr-inh tra-0-2s-ease" data-switch-control-toggle-opc-0></span>
                                                                        <span class="d-block brr-inh tra-0-2s-ease p-abs l-0 t-0 b-0 pdl-2 pdt-2 pdb-2 pdr-2 z-i-100" data-switch-control-toggle-circle="5">
                                                                            <span class="mnw-18 mnh-18 brr-inh bg-clr-white bxshw-quaternary d-block"></span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mrb-13 w-100-p">
                                <div class="d-flex mrl-5- mrr-5-">
                                    <div class="pdl-5 pdr-5 flex-grow-1">
                                        <p class="fts-16 ftw-500 clr-quaternary-7 lh-1-3125 FuturaPT">Таб 2</p>
                                    </div>
                                    <div class="pdl-5 pdr-5">
                                        <label class="c-poin d-flex flex-column" data-form-control-parent="">
                                            <span class="d-flex justify-content-center mnw-0">
                                                <span class="d-flex flex-column mnw-0">
                                                    <input type="checkbox" name="check" value="1" data-switch-control="" data-form-control="" required="">
                                                    <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                        <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                            <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-start">
                                                                <span class="pdl-5 pdr-5 mnw-0">
                                                                    <span class="d-block mnh-22 mnw-39 brtlr-23 brtrr-23 brbrr-23 brblr-23 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                        <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 bg-clr-quaternary-3 brr-inh tra-0-2s-ease" data-switch-control-toggle-opc-1></span>
                                                                        <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 bg-clr-accent-3 brr-inh tra-0-2s-ease" data-switch-control-toggle-opc-0></span>
                                                                        <span class="d-block brr-inh tra-0-2s-ease p-abs l-0 t-0 b-0 pdl-2 pdt-2 pdb-2 pdr-2 z-i-100" data-switch-control-toggle-circle="5">
                                                                            <span class="mnw-18 mnh-18 brr-inh bg-clr-white bxshw-quaternary d-block"></span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block">
                <div class="d-flex flex-column">
                    <div>
                        <button class="btn btn--default w-100-p mnh-44 lh-36-px pdl-22 pdr-22 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white-h" type="submit">
                            <span class="d-block p-abs l-0 t-0 b-0 z-i-1-">
                                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" width="49" height="44" viewBox="0 0 49 44" fill="none">
                                    <path d="M0 12.96C0 8.32853 0 6.01279 0.929875 4.25656C1.68028 2.8393 2.8393 1.68028 4.25656 0.929875C6.01279 0 8.32853 0 12.96 0H34.0321C39.9224 0 42.8676 0 44.8396 1.26257C46.4234 2.27663 47.5994 3.81627 48.161 5.61114C48.8602 7.84588 48.0853 10.6873 46.5355 16.37L41.6045 34.45C40.6523 37.9415 40.1762 39.6872 39.1569 40.972C38.3311 42.013 37.259 42.8319 36.0374 43.3547C34.5297 44 32.7202 44 29.1012 44H12.96C8.32853 44 6.01279 44 4.25656 43.0701C2.8393 42.3197 1.68028 41.1607 0.929875 39.7434C0 37.9872 0 35.6715 0 31.04V12.96Z" fill="#137039"/>
                                    <path d="M0 12.96C0 8.32853 0 6.01279 0.929875 4.25656C1.68028 2.8393 2.8393 1.68028 4.25656 0.929875C6.01279 0 8.32853 0 12.96 0H34.0321C39.9224 0 42.8676 0 44.8396 1.26257C46.4234 2.27663 47.5994 3.81627 48.161 5.61114C48.8602 7.84588 48.0853 10.6873 46.5355 16.37L41.6045 34.45C40.6523 37.9415 40.1762 39.6872 39.1569 40.972C38.3311 42.013 37.259 42.8319 36.0374 43.3547C34.5297 44 32.7202 44 29.1012 44H12.96C8.32853 44 6.01279 44 4.25656 43.0701C2.8393 42.3197 1.68028 41.1607 0.929875 39.7434C0 37.9872 0 35.6715 0 31.04V12.96Z" fill="url(#paint0_linear_114_504)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_114_504" x1="5.08039" y1="11.2375" x2="47.8337" y2="28.2788" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#39BBC4"/>
                                    <stop offset="1" stop-color="#37A3F2"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            </span>
                            <span class="mnw-0">
                                <span class="d-flex justify-content-center align-items-center">
                                    <span class="mnw-0 fts-14 ftw-500 lh-1-3">Фильтровать</span>
                                </span>
                            </span>
                        </button>
                    </div>
                    <div>
                        <button class="btn w-100-p mnh-36 lh-36-px pdl-22 pdr-22 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-quaternary-6 bg-tra FuturaPT clr-accent-h" type="reset">
                            <span class="mnw-0">
                                <span class="d-flex justify-content-center align-items-center">
                                    <span class="mnw-0 fts-16 ftw-400 lh-1-3">Сбросить</span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
     </div>
</aside>