<div class="bg-clr-quaternary-2 d-none d-lg-block p-rel z-i-9991">
    <div class="container">
        <div class="d-block pdt-6 pdb-7 pdr-22">
            <div class="mrl-15- mrr-15- d-flex flex-wrap align-items-center">
                <div class="pdl-15 pdr-15 pdt-10 pdb-10 flex-shrink-0 flex-grow-1 mnw-0">
                    <ul class="d-flex align-items-center list-reset fts-15 fts-xl-17 ftw-400">
                        <li class="d-block mrr-30 mrr-xl-49">
                            <a class="d-block clr-accent-h" href="#">О компании</a>
                        </li>
                        <li class="d-block mrr-30 mrr-xl-49">
                            <a class="d-block clr-accent-h" href="#">Доставка и оплата</a>
                        </li>
                        <li class="d-block mrr-30 mrr-xl-49">
                            <a class="d-block clr-accent-h" href="#">Сертификаты</a>
                        </li>
                        <li class="d-block mrr-30 mrr-xl-49">
                            <a class="d-block clr-accent-h" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="pdl-15 pdr-15 pdt-10 pdb-10 flex-shrink-0 mnw-0">
                     <div class="d-flex align-items-center mrl-7- mrr-7- mrl-xl-10- mrr-xl-10-">
                        <div class="pdl-7 pdr-7 pdl-xl-10 pdr-xl-10">
                            <i class="icon-time fts-28 fts-xl-32 clr-accent"></i>
                        </div>
                        <div class="pdl-7 pdr-7 pdl-xl-10 pdr-xl-10">
                            <p class="fts-15 fts-xl-16">Пн-Пт <span class="ftw-600 mrr-6">09:00 - 18:00</span> <span class="ftw-300 clr-quinary">Сб-Вс Выходной</span></p>
                        </div>
                     </div>
                </div>
             </div>
        </div>
    </div>
</div>