<div>
    <div class="container">
        <section class="d-block pdt-73 pdb-10 pdb-lg-69 pdt-lg-85">
            <header class="d-block mrb-36 mrb-lg-48">
                <h2 class="fts-30 lh-1-267 ftw-800 clr-accent Mont tt-upp fts-lg-42 lh-lg-1-2858">ПРИМЕРЫ  НАШИХ РАБОТ</h2>
            </header>
            <div class="d-block">
                <div class="p-rel z-i-1 mrl-6- mrr-6- mrl-lg-9- mrr-lg-9-">
                    <div class="swiper carouseExampleOfOurWorks over-vis">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide w-100-p pdl-6 pdr-6 pdl-lg-9 pdr-lg-9 mxw-201 mxw-lg-none">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-104-6-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/section-examples-of-our-work/works-picture-1.jpg" alt="photo">
                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-100-p w-100-p">
                                            <span class="d-flex justify-content-between align-items-start flex-column mnh-100-p pdl-6 pdr-6 pdt-7 pdb-7 pdl-lg-12 pdr-lg-12 pdt-lg-11 pdb-lg-11">
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdl-10 pdt-6 pdr-10 pdb-3 pdt-lg-10 pdb-lg-9 pdl-lg-21 pdr-lg-21 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-12 fts-lg-14 ftw-700 lh-1-3">Массив</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdt-6 pdb-6 pdl-8 pdr-8 pdt-lg-10 pdb-lg-7 pdl-lg-9 pdr-lg-9 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-10 fts-lg-16 ftw-700 lh-1-3">39.7×76.5 см </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide w-100-p pdl-6 pdr-6 pdl-lg-9 pdr-lg-9 mxw-201 mxw-lg-none">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-104-6-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/section-examples-of-our-work/works-picture-2.jpg" alt="photo">
                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-100-p w-100-p">
                                            <span class="d-flex justify-content-between align-items-start flex-column mnh-100-p pdl-6 pdr-6 pdt-7 pdb-7 pdl-lg-12 pdr-lg-12 pdt-lg-11 pdb-lg-11">
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdl-10 pdt-6 pdr-10 pdb-3 pdt-lg-10 pdb-lg-9 pdl-lg-21 pdr-lg-21 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-12 fts-lg-14 ftw-700 lh-1-3">Массив</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdt-6 pdb-6 pdl-8 pdr-8 pdt-lg-10 pdb-lg-7 pdl-lg-9 pdr-lg-9 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-10 fts-lg-16 ftw-700 lh-1-3">39.7×76.5 см </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide w-100-p pdl-6 pdr-6 pdl-lg-9 pdr-lg-9 mxw-201 mxw-lg-none">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-104-6-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/section-examples-of-our-work/works-picture-3.jpg" alt="photo">
                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-100-p w-100-p">
                                            <span class="d-flex justify-content-between align-items-start flex-column mnh-100-p pdl-6 pdr-6 pdt-7 pdb-7 pdl-lg-12 pdr-lg-12 pdt-lg-11 pdb-lg-11">
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdl-10 pdt-6 pdr-10 pdb-3 pdt-lg-10 pdb-lg-9 pdl-lg-21 pdr-lg-21 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-12 fts-lg-14 ftw-700 lh-1-3">Массив</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdt-6 pdb-6 pdl-8 pdr-8 pdt-lg-10 pdb-lg-7 pdl-lg-9 pdr-lg-9 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-10 fts-lg-16 ftw-700 lh-1-3">39.7×76.5 см </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide w-100-p pdl-6 pdr-6 pdl-lg-9 pdr-lg-9 mxw-201 mxw-lg-none">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-104-6-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/section-examples-of-our-work/works-picture-4.jpg" alt="photo">
                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-100-p w-100-p">
                                            <span class="d-flex justify-content-between align-items-start flex-column mnh-100-p pdl-6 pdr-6 pdt-7 pdb-7 pdl-lg-12 pdr-lg-12 pdt-lg-11 pdb-lg-11">
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdl-10 pdt-6 pdr-10 pdb-3 pdt-lg-10 pdb-lg-9 pdl-lg-21 pdr-lg-21 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-12 fts-lg-14 ftw-700 lh-1-3">Массив</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdt-6 pdb-6 pdl-8 pdr-8 pdt-lg-10 pdb-lg-7 pdl-lg-9 pdr-lg-9 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-10 fts-lg-16 ftw-700 lh-1-3">39.7×76.5 см </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide w-100-p pdl-6 pdr-6 pdl-lg-9 pdr-lg-9 mxw-201 mxw-lg-none">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-104-6-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/section-examples-of-our-work/works-picture-5.jpg" alt="photo">
                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-100-p w-100-p">
                                            <span class="d-flex justify-content-between align-items-start flex-column mnh-100-p pdl-6 pdr-6 pdt-7 pdb-7 pdl-lg-12 pdr-lg-12 pdt-lg-11 pdb-lg-11">
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdl-10 pdt-6 pdr-10 pdb-3 pdt-lg-10 pdb-lg-9 pdl-lg-21 pdr-lg-21 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-12 fts-lg-14 ftw-700 lh-1-3">Массив</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdt-6 pdb-6 pdl-8 pdr-8 pdt-lg-10 pdb-lg-7 pdl-lg-9 pdr-lg-9 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-10 fts-lg-16 ftw-700 lh-1-3">39.7×76.5 см </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide w-100-p pdl-6 pdr-6 pdl-lg-9 pdr-lg-9 mxw-201 mxw-lg-none">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-104-6-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/section-examples-of-our-work/works-picture-6.jpg" alt="photo">
                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-100-p w-100-p">
                                            <span class="d-flex justify-content-between align-items-start flex-column mnh-100-p pdl-6 pdr-6 pdt-7 pdb-7 pdl-lg-12 pdr-lg-12 pdt-lg-11 pdb-lg-11">
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdl-10 pdt-6 pdr-10 pdb-3 pdt-lg-10 pdb-lg-9 pdl-lg-21 pdr-lg-21 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-12 fts-lg-14 ftw-700 lh-1-3">Массив</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="d-block">
                                                    <span class="bg-lngr-accent pdt-6 pdb-6 pdl-8 pdr-8 pdt-lg-10 pdb-lg-7 pdl-lg-9 pdr-lg-9 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay clr-white">
                                                        <span class="mnw-0">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="mnw-0 fts-10 fts-lg-16 ftw-700 lh-1-3">39.7×76.5 см </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="d-flex justify-content-center mrl-9- mrr-9- mrl-lg-10- mrr-lg-10-">
                            <div class="swiper-pagination pdt-34 pdt-lg-38 mrb-9- mrb-lg-10- mnw-0"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center pdt-51 pdt-lg-58">
                    <div>
                        <a class="btn btn--default mnh-58 pdl-28 pdr-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay" href="#">
                            <span class="mnw-0">
                                <span class="d-flex justify-content-center align-items-center">
                                    <span class="mnw-0 fts-16 ftw-700 lh-1-3">Смотреть все примеры</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>