<div>
    <div class="container">
        <section class="d-block pdt-53 pdb-31 pdt-lg-72 pdb-lg-85">
            <div class="row mrl-10- mrr-10-">
                <div class="col-12 col-lg-6 mnw-0 pdl-10 pdr-10 mrb-18 mrb-lg-0 order-lg-1">
                    <div class="d-flex flex-column align-items-start">
                        <div>
                            <h2 class="fts-30 lh-1-267 ftw-800 clr-accent Mont tt-upp fts-lg-42 lh-lg-1-2858 mrb-45 mrb-lg-30">МЕБЕЛЬНЫЕ ФАСАДЫ</h2>
                            <p class="ftw-300 mrb-39 mrb-lg-21 fts-16"><b class="ftw-700">Хорошая и качественная мебель</b> - это то, чем каждый стремится себя окружать в повседневной жизни, чтобы сделать ее более комфортной. А мы помогаем сделать вашу мебель лучше.</p>
                            <p class="ftw-300 mrb-39 mrb-lg-21 fts-16"><b class="ftw-700">Что мы предлагаем?</b><br>Мебельные фасады из МДФ с различными видами покрытия</p>
                            <ul class="pdl-24 mrl-0 mrt-0 mrb-0 fts-12 mrb-41 mrb-lg-36">
                                <li>
                                    <span class="d-block fts-16">Фурнитура для кухонной мебели</span>
                                </li>
                                <li>
                                    <span class="d-block fts-16">Кухонные шкафы и гарнитуры</span>
                                </li>
                                <li>
                                    <span class="d-block fts-16">Дополнительные услуги</span>
                                </li>
                                <li>
                                    <span class="d-block fts-16">Вызов замерщика</span>
                                </li>
                                <li>
                                    <span class="d-block fts-16">Реставрация корпусной мебели с заменой любых частей</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a class="ftw-700 lh-1 d-block brbw-1 brbs-sol clr-crc-br clr-quinary clr-accent-h fts-16" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mnw-0 pdl-10 pdr-10 order-lg-0">
                    <div class="row mrl-6- mrr-6- mrb-9- mrl-lg-9- mrr-lg-9- mrb-lg-13-">
                        <div class="col-6 col-md-3 col-lg-6 mnw-0 pdl-6 pdr-6 pdb-9 pdl-lg-9 pdr-lg-9 pdb-lg-13">
                            <span class="d-block p-rel z-i-1 pdb-72-06-p pdb-lg-82-p">
                                <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cv h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/global/section-image-2.jpg" alt="image-1">
                                <span class="d-block p-abs l-0 b-13 b-lg-19 z-i-10">
                                    <span class="bg-lngr-accent mnh-30 mnh-lg-42 pdl-5 pdr-5 pdt-5 pdb-5 pdl-lg-20 pdr-lg-20 pdt-lg-10 pdb-lg-10 mnw-89 mnw-lg-147 d-flex justify-content-center align-items-center brtrr-6 brbrr-6 SFProDisplay">
                                        <span class="mnw-0">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp clr-white">ЭМАЛЬ</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="col-6 col-md-3 col-lg-6 mnw-0 pdl-6 pdr-6 pdb-9 pdl-lg-9 pdr-lg-9 pdb-lg-13">
                            <span class="d-block p-rel z-i-1 pdb-72-06-p pdb-lg-82-p">
                                <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cv h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/global/section-image-3.jpg" alt="image-1">
                                <span class="d-block p-abs l-0 b-13 b-lg-19 z-i-10">
                                    <span class="bg-lngr-accent mnh-30 mnh-lg-42 pdl-5 pdr-5 pdt-5 pdb-5 pdl-lg-20 pdr-lg-20 pdt-lg-10 pdb-lg-10 mnw-89 mnw-lg-147 d-flex justify-content-center align-items-center brtrr-6 brbrr-6 SFProDisplay">
                                        <span class="mnw-0">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp clr-white">АКРИЛ</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="col-6 col-md-3 col-lg-6 mnw-0 pdl-6 pdr-6 pdb-9 pdl-lg-9 pdr-lg-9 pdb-lg-13">
                            <span class="d-block p-rel z-i-1 pdb-72-06-p pdb-lg-82-p">
                                <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cv h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/global/section-image-4.jpg" alt="image-1">
                                <span class="d-block p-abs l-0 b-13 b-lg-19 z-i-10">
                                    <span class="bg-lngr-accent mnh-30 mnh-lg-42 pdl-5 pdr-5 pdt-5 pdb-5 pdl-lg-20 pdr-lg-20 pdt-lg-10 pdb-lg-10 mnw-89 mnw-lg-147 d-flex justify-content-center align-items-center brtrr-6 brbrr-6 SFProDisplay">
                                        <span class="mnw-0">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp clr-white">ПЛАСТИК</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="col-6 col-md-3 col-lg-6 mnw-0 pdl-6 pdr-6 pdb-9 pdl-lg-9 pdr-lg-9 pdb-lg-13">
                            <span class="d-block p-rel z-i-1 pdb-72-06-p pdb-lg-82-p">
                                <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cv h-100-p w-100-p brtlr-6 brtrr-6 brbrr-6 brblr-6" src="./img/global/section-image-5.jpg" alt="image-1">
                                <span class="d-block p-abs l-0 b-13 b-lg-19 z-i-10">
                                    <span class="bg-lngr-accent mnh-30 mnh-lg-42 pdl-5 pdr-5 pdt-5 pdb-5 pdl-lg-20 pdr-lg-20 pdt-lg-10 pdb-lg-10 mnw-89 mnw-lg-147 d-flex justify-content-center align-items-center brtrr-6 brbrr-6 SFProDisplay">
                                        <span class="mnw-0">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp clr-white">МАССИВ</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>