<div class="bgr-nr bgp-tc bgs-cv p-rel z-i-1 clr-white" style="background-image: url(./img/global/bg.jpg);">
    <span class="d-block bg-lngr-primary-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
    <div class="container">
        <section class="d-block">
            <div class="row">
                <div class="col-12 col-lg-10 col-xl-9">
                    <div class="p-rel z-i-1 pdt-44 pdb-10 pdb-lg-53 pdt-lg-52">
                        <header class="d-block mrb-38 mrb-lg-56">
                            <p class="fts-14 fts-lg-20 ftw-600 lh-1-3 tt-upp mrb-6 mrb-lg-10">НУЖНО ПОСМОТРЕТЬ ОБРАЗЦЫ ВЖИВУЮ?</p>
                            <h2 class="fts-24 lh-1-267 ftw-800 clr-accent Mont tt-upp fts-lg-42 lh-lg-1-2858 mrb-49 mrb-lg-44">ВЫЗОВИТЕ ЗАМЕРШИКА БЕСПЛАТНО!</h2>
                            <p class="fts-14 fts-lg-20 ftw-600 lh-1-3 tt-upp">Мы предлагаем своим клиентам бесплатный замер в любой день с 10 до 22 часов! Просто введите ваш номер телефона и мы свяжемся с вами для уточнения времени</p>
                        </header>
                        <div class="d-block pdb-44 pdb-lg-51">
                            <form class="d-block" action="#">
                                <div class="d-flex mrl-4- mrr-4- mrl-lg-6- mrr-lg-6-">
                                    <div class="pdl-4 pdr-4 pdl-lg-6 pdr-lg-6 flex-shrink-1 mnw-0">
                                        <input class="d-block w-100-p mnh-58 lh-56-px br-0 brtlr-10 brtrr-10 brbrr-10 brblr-10 fts-14 ftw-400 plchdr-clr-quaternary pdl-22 pdr-22 mnw-100-p mnw-lg-275 clr-black" type="text">
                                    </div>
                                    <div class="pdl-4 pdr-4 pdl-lg-6 pdr-lg-6 flex-shrink-0 mnw-0">
                                        <button class="btn btn--default br-0 mnh-58 mnw-lg-237 pdl-13 pdr-13 pdl-lg-22 pdr-lg-22 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay" type="submit">
                                            <span class="mnw-0">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="mnw-0 fts-14 fts-lg-16 ftw-700 lh-1-3">Запросить образцы</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <span class="d-none d-lg-block mxw-521 w-100-p p-abs l-100-p b-0  mrl-84- z-i-1-">
                            <img class="d-block" src="./img/global/call-a-frozen-man-for-free.png" alt="call-a-frozen-man-for-free">
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>