<div>
    <div class="container">
        <div class="d-block pdt-34 pdt-lg-44 pdb-lg-39">
            <div class="p-rel z-i-1">
                <div class="swiper carouseIntro over-vis">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide w-100-p h-au">
                            <div class="brtlr-6 brtrr-6 brbrr-6 brblr-6 p-rel z-i-1 clr-white bgs-cv bgs-cov bgp-tc bgr-nr" style="background-image: url(./img/section-intro/intro-bg-1.jpg);">
                                <div class="pdl-22 pdr-22 pdt-22 pdb-22 mnh-608 mnh-lg-569 d-flex justify-content-between align-items-center pdl-lg-41 pdr-lg-41 pdt-lg-20 pdb-lg-20">
                                    <div class="row d-flex flex-column flex-md-row justify-content-between align-items-center mnw-0">
                                        <div class="col-12 col-md-6 col-lg-7 col-xl-6 mnw-0 flex-shrink-0 pdb-25 pdt-25 pdb-lg-0 pdt-lg-0">
                                            <div class="w-100-p w-lg-510 w-xl-570">
                                                <div class="d-flex flex-column align-items-start mrr-7- mrr-lg-0">
                                                    <div class="mrb-24 mnw-0 mrb-lg-30">
                                                        <h1 class="fts-40 fts-xsm-50 fts-lg-70 fts-xl-90 ftw-700 lh-1 BebasNeue tt-upp">Фасады от производителя</h1>
                                                    </div>
                                                    <div class="mrb-48 mnw-0">
                                                        <div class="row">
                                                            <div class="col-10 col-xsm-9 col-lg-12 mnw-0">
                                                                <p class="fts-16 fts-xsm-17 ftw-700 tt-upp lh-1-1765">РАСЛАБЬТЕСЬ, МЫ ВСЕ СДЕЛАЕМ ЗА ВАС</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mnw-0">
                                                        <a class="btn btn--default mnh-58 mnw-237 pdl-22 pdr-22 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay" href="#">
                                                            <span class="mnw-0">
                                                                <span class="d-flex justify-content-center align-items-center">
                                                                    <span class="mnw-0 fts-16 ftw-700 lh-1-3">Выбрать фасад</span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-5 col-xl-6 mnw-0 pdt-25 pdb-25 pdt-lg-0 pdb-lg-0 pdl-lg-34 align-self-end">
                                            <div class="d-block mxw-313 mxw-lg-none">
                                                <div class="row justify-content-center mrl-3- mrr-3- mrl-lg-6- mrr-lg-6- mrb-12-">
                                                    <div class="col-4 col-lg-6 pdl-3 pdr-3 col-xl-4 pdl-lg-6 pdr-lg-6 pdb-lg-12 mnh-none mnh-lg-124">
                                                        <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                            <div class="mnh-100-p pdt-12 pdb-14 pdl-5 pdr-5 d-flex flex-column align-items-center justify-content-start pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8">
                                                                <div class="mrb-5 mrb-lg-7">
                                                                    <span class="d-block mnh-26 d-flex justify-content-center align-items-center mnh-lg-45">
                                                                        <span class="d-block">
                                                                            <i class="icon-big-choice fts-22 fts-lg-40"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="w-100-p">
                                                                    <p class="fts-8 ftw-700 lh-1-2143 Inter fts-lg-13 fts-xl-14">Большой выбор<br> продукции</p>
                                                                </div>
                                                            </div>
                                                            <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-lg-6 pdl-3 pdr-3 col-xl-4 pdl-lg-6 pdr-lg-6 pdb-lg-12 mnh-none mnh-lg-124">
                                                        <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                            <div class="mnh-100-p pdt-12 pdb-14 pdl-5 pdr-5 d-flex flex-column align-items-center justify-content-start pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8">
                                                                <div class="mrb-5 mrb-lg-7">
                                                                    <span class="d-block mnh-26 d-flex justify-content-center align-items-center mnh-lg-45">
                                                                        <span class="d-block">
                                                                            <i class="icon-quality-assurance fts-26 fts-lg-43"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="w-100-p">
                                                                    <p class="fts-8 ftw-700 lh-1-2143 Inter fts-lg-13 fts-xl-14">Гарантия качества и соблюдение сроков</p>
                                                                </div>
                                                            </div>
                                                            <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-lg-6 pdl-3 pdr-3 col-xl-4 pdl-lg-6 pdr-lg-6 pdb-lg-12 mnh-none mnh-lg-124">
                                                        <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                            <div class="mnh-100-p pdt-12 pdb-14 pdl-5 pdr-5 d-flex flex-column align-items-center justify-content-start pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8">
                                                                <div class="mrb-5 mrb-lg-7">
                                                                    <span class="d-block mnh-26 d-flex justify-content-center align-items-center mnh-lg-45">
                                                                        <span class="d-block">
                                                                            <i class="icon-direct-contact fts-26 fts-lg-45"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="w-100-p">
                                                                    <p class="fts-8 ftw-700 lh-1-2143 Inter fts-lg-13 fts-xl-14">Прямой контакт<br> с производителем</p>
                                                                </div>
                                                            </div>
                                                            <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="d-block bg-lngr-primary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                            </div>
                        </div>
                        <div class="swiper-slide w-100-p h-au">
                            <div class="brtlr-6 brtrr-6 brbrr-6 brblr-6 p-rel z-i-1 clr-white bgs-cv bgs-cov bgp-tc bgr-nr" style="background-image: url(./img/section-facades/picture-1.jpg);">
                                <div class="pdl-22 pdr-22 pdt-22 pdb-22 mnh-608 mnh-lg-569 d-flex justify-content-between align-items-center pdl-lg-41 pdr-lg-41 pdt-lg-20 pdb-lg-20">
                                    <div class="row flex-column flex-md-row justify-content-between align-items-center mnw-0">
                                        <div class="col-12 col-md-6 col-lg-7 col-xl-6 mnw-0 flex-shrink-0 pdb-25 pdt-25 pdb-lg-0 pdt-lg-0">
                                            <div class="w-100-p w-lg-510 w-xl-570">
                                                <div class="d-flex flex-column align-items-start mrr-7- mrr-lg-0">
                                                    <div class="mrb-24 mnw-0 mrb-lg-30">
                                                        <h1 class="fts-40 fts-xsm-50 fts-lg-70 fts-xl-90 ftw-700 lh-1 BebasNeue tt-upp">от производителя Фасады</h1>
                                                    </div>
                                                    <div class="mrb-48 mnw-0">
                                                        <div class="row">
                                                            <div class="col-10 col-xsm-9 col-lg-12 mnw-0">
                                                                <p class="fts-16 fts-xsm-17 ftw-700 tt-upp lh-1-1765">МЫ ВСЕ СДЕЛАЕМ ЗА ВАС, РАСЛАБЬТЕСЬ</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mnw-0">
                                                        <a class="btn btn--default mnh-58 mnw-237 pdl-22 pdr-22 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay" href="#">
                                                            <span class="mnw-0">
                                                                <span class="d-flex justify-content-center align-items-center">
                                                                    <span class="mnw-0 fts-16 ftw-700 lh-1-3">Выбрать фасад</span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-5 col-xl-6 mnw-0 pdt-25 pdb-25 pdt-lg-0 pdb-lg-0 pdl-lg-34 align-self-end">
                                            <div class="d-block mxw-313 mxw-lg-none">
                                                <div class="row justify-content-center mrl-3- mrr-3- mrl-lg-6- mrr-lg-6- mrb-12-">
                                                    <div class="col-4 col-lg-6 pdl-3 pdr-3 col-xl-4 pdl-lg-6 pdr-lg-6 pdb-lg-12 mnh-none mnh-lg-124">
                                                        <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                            <div class="mnh-100-p pdt-12 pdb-14 pdl-5 pdr-5 d-flex flex-column align-items-center justify-content-start pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8">
                                                                <div class="mrb-5 mrb-lg-7">
                                                                    <span class="d-block mnh-26 d-flex justify-content-center align-items-center mnh-lg-45">
                                                                        <span class="d-block">
                                                                            <i class="icon-quality-assurance fts-26 fts-lg-43"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="w-100-p">
                                                                    <p class="fts-8 ftw-700 lh-1-2143 Inter fts-lg-13 fts-xl-14">Гарантия качества и соблюдение сроков</p>
                                                                </div>
                                                            </div>
                                                            <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-lg-6 pdl-3 pdr-3 col-xl-4 pdl-lg-6 pdr-lg-6 pdb-lg-12 mnh-none mnh-lg-124">
                                                        <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                            <div class="mnh-100-p pdt-12 pdb-14 pdl-5 pdr-5 d-flex flex-column align-items-center justify-content-start pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8">
                                                                <div class="mrb-5 mrb-lg-7">
                                                                    <span class="d-block mnh-26 d-flex justify-content-center align-items-center mnh-lg-45">
                                                                        <span class="d-block">
                                                                            <i class="icon-direct-contact fts-26 fts-lg-45"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="w-100-p">
                                                                    <p class="fts-8 ftw-700 lh-1-2143 Inter fts-lg-13 fts-xl-14">Прямой контакт<br> с производителем</p>
                                                                </div>
                                                            </div>
                                                            <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-lg-6 pdl-3 pdr-3 col-xl-4 pdl-lg-6 pdr-lg-6 pdb-lg-12 mnh-none mnh-lg-124">
                                                        <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                            <div class="mnh-100-p pdt-12 pdb-14 pdl-5 pdr-5 d-flex flex-column align-items-center justify-content-start pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8">
                                                                <div class="mrb-5 mrb-lg-7">
                                                                    <span class="d-block mnh-26 d-flex justify-content-center align-items-center mnh-lg-45">
                                                                        <span class="d-block">
                                                                            <i class="icon-big-choice fts-22 fts-lg-40"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="w-100-p">
                                                                    <p class="fts-8 ftw-700 lh-1-2143 Inter fts-lg-13 fts-xl-14">Большой выбор<br> продукции</p>
                                                                </div>
                                                            </div>
                                                            <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="d-block bg-lngr-primary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="d-flex justify-content-center">
                        <div class="swiper-pagination pdt-4  pdt-lg-35 mnw-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>