<div>
    <div class="container">
        <section class="d-block pdt-73 pdb-52 pdb-lg-75 pdt-lg-52">
            <header class="d-block mrb-24 mrb-lg-38">
                <h2 class="fts-30 lh-1-267 ftw-800 clr-accent Mont tt-upp fts-lg-42 lh-lg-1-2858">Наши преимущества</h2>
            </header>
            <div class="d-block">
                <ul class="list-reset row mrl-5- mrr-5- mrb-25- mrb-lg-18- mrl-lg-10- mrr-lg-10-">
                    <li class="col-6 col-sm-4 col-lg-6 col-xl-4 pdl-5 pdr-5 mnh-lg-220 mrb-25 mrb-lg-15 mrb-lg-18 pdl-lg-10 pdr-lg-10">
                        <div class="p-rel z-i-1 pdt-38 mnh-100-p d-flex flex-column pdt-lg-89">
                            <span class="d-block p-abs z-i-100 l-50-p t-0- z-i-1 t-trX-50-p-">
                                <span class="mnh-76 mnw-76 brr-50-p bg-clr-accent-3 clr-white d-flex justify-content-center align-items-center h-lg-110 w-lg-110">
                                    <span class="d-block p-rel fts-39 t-1 l-3- t-lg-2 fts-lg-57">
                                        <i class="icon-great-price"></i>
                                    </span>
                                </span>
                            </span>
                            <div class="pdl-13 pdt-47 pdr-13 pdb-56 brtlr-6 brtrr-6 brbrr-6 brblr-6 bg-clr-quaternary-5 clr-black mnh-100-p p-rel z-i-1 flex-grow-1 pdl-lg-27 pdt-lg-26 pdr-lg-20 pdb-lg-37">
                                <span class="d-block fts-29 fts-lg-50 lh-1-2 ftw-800 clr-black opc-0-6 p-abs r-17 b-10 r-lg-19 b-lg-3- z-i-1-">01</span>
                                <h4 class="fts-12 ftw-700 lh-1-2 mrb-14 clr-accent fts-lg-24 mrb-lg-28">Отличная цена</h5> 
                                <p class="fts-10 lh-1-3 ftw-400 fts-lg-16 lh-1-25">Мы - непосредственно производители мебели и перепродаем фасады и корпуса. К нам приходят клиенты после визитов салонов и получают отличную экономию.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-6 col-sm-4 col-lg-6 col-xl-4 pdl-5 pdr-5 mnh-lg-220 mrb-25 mrb-lg-15 mrb-lg-18 pdl-lg-10 pdr-lg-10">
                        <div class="p-rel z-i-1 pdt-38 mnh-100-p d-flex flex-column pdt-lg-89">
                            <span class="d-block p-abs z-i-100 l-50-p t-0- z-i-1 t-trX-50-p-">
                                <span class="mnh-76 mnw-76 brr-50-p bg-clr-accent-3 clr-white d-flex justify-content-center align-items-center h-lg-110 w-lg-110">
                                    <span class="d-block fts-42 p-rel t-3- l-0 t-lg-5- fts-lg-61">
                                        <i class="icon-non-standard-products"></i>
                                    </span>
                                </span>
                            </span>
                            <div class="pdl-13 pdt-47 pdr-13 pdb-56 brtlr-6 brtrr-6 brbrr-6 brblr-6 bg-clr-quaternary-5 clr-black mnh-100-p p-rel z-i-1 flex-grow-1 pdl-lg-27 pdt-lg-26 pdr-lg-20 pdb-lg-37">
                                <span class="d-block fts-29 fts-lg-50 lh-1-2 ftw-800 clr-black opc-0-6 p-abs r-17 b-10 r-lg-19 b-lg-3- z-i-1-">02</span>
                                <h4 class="fts-12 ftw-700 lh-1-2 mrb-14 clr-accent fts-lg-24 mrb-lg-28">Нестандартные изделия</h5> 
                                <p class="fts-10 lh-1-3 ftw-400 fts-lg-16 lh-1-25">Более 17 лет мы проектируем и производим нестандартные, дизайнерские шкафы и кухни, встроенные в ниши, под потолок на станках с ЧПУ оборудованием.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-6 col-sm-4 col-lg-6 col-xl-4 pdl-5 pdr-5 mnh-lg-220 mrb-25 mrb-lg-15 mrb-lg-18 pdl-lg-10 pdr-lg-10">
                        <div class="p-rel z-i-1 pdt-38 mnh-100-p d-flex flex-column pdt-lg-89">
                            <span class="d-block p-abs z-i-100 l-50-p t-0- z-i-1 t-trX-50-p-">
                                <span class="mnh-76 mnw-76 brr-50-p bg-clr-accent-3 clr-white d-flex justify-content-center align-items-center h-lg-110 w-lg-110">
                                    <span class="d-block fts-37 p-rel l-5- t-lg-1- l-lg-8- fts-lg-53">
                                        <i class="icon-deadlines"></i>
                                    </span>
                                </span>
                            </span>
                            <div class="pdl-13 pdt-47 pdr-13 pdb-56 brtlr-6 brtrr-6 brbrr-6 brblr-6 bg-clr-quaternary-5 clr-black mnh-100-p p-rel z-i-1 flex-grow-1 pdl-lg-27 pdt-lg-26 pdr-lg-20 pdb-lg-37">
                                <span class="d-block fts-29 fts-lg-50 lh-1-2 ftw-800 clr-black opc-0-6 p-abs r-17 b-10 r-lg-19 b-lg-3- z-i-1-">03</span>
                                <h4 class="fts-12 ftw-700 lh-1-2 mrb-14 clr-accent fts-lg-24 mrb-lg-28">Соблюдение сроков</h5> 
                                <p class="fts-10 lh-1-3 ftw-400 fts-lg-16 lh-1-25">Заказ попадает на производство на следующий день после оформления заказа. Фабрика расположена в Московской области, в 15 км от МКАД</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-6 col-sm-4 col-lg-6 col-xl-4 pdl-5 pdr-5 mnh-lg-220 mrb-25 mrb-lg-15 mrb-lg-18 pdl-lg-10 pdr-lg-10">
                        <div class="p-rel z-i-1 pdt-38 mnh-100-p d-flex flex-column pdt-lg-89">
                            <span class="d-block p-abs z-i-100 l-50-p t-0- z-i-1 t-trX-50-p-">
                                <span class="mnh-76 mnw-76 brr-50-p bg-clr-accent-3 clr-white d-flex justify-content-center align-items-center h-lg-110 w-lg-110">
                                    <span class="d-block fts-42 p-rel l-3 t-lg-1- l-lg-5 fts-lg-61">
                                        <i class="icon-payment-and-agreement"></i>
                                    </span>
                                </span>
                            </span>
                            <div class="pdl-13 pdt-47 pdr-13 pdb-56 brtlr-6 brtrr-6 brbrr-6 brblr-6 bg-clr-quaternary-5 clr-black mnh-100-p p-rel z-i-1 flex-grow-1 pdl-lg-27 pdt-lg-26 pdr-lg-20 pdb-lg-37">
                                <span class="d-block fts-29 fts-lg-50 lh-1-2 ftw-800 clr-black opc-0-6 p-abs r-17 b-10 r-lg-19 b-lg-3- z-i-1-">04</span>
                                <h4 class="fts-12 ftw-700 lh-1-2 mrb-14 clr-accent fts-lg-24 mrb-lg-28">Оплата и Договор</h5> 
                                <p class="fts-10 lh-1-3 ftw-400 fts-lg-16 lh-1-25">В договоре производственный, высокоточный чертеж со спецификацией всех материалов. Полная оплата стоимости после завершения монтажа.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-6 col-sm-4 col-lg-6 col-xl-4 pdl-5 pdr-5 mnh-lg-220 mrb-25 mrb-lg-15 mrb-lg-18 pdl-lg-10 pdr-lg-10">
                        <div class="p-rel z-i-1 pdt-38 mnh-100-p d-flex flex-column pdt-lg-89">
                            <span class="d-block p-abs z-i-100 l-50-p t-0- z-i-1 t-trX-50-p-">
                                <span class="mnh-76 mnw-76 brr-50-p bg-clr-accent-3 clr-white d-flex justify-content-center align-items-center h-lg-110 w-lg-110">
                                    <span class="d-block fts-40 p-rel t-1- t-lg-3- l-lg-1- fts-lg-61">
                                        <i class="icon-quality-and-guarantee"></i>
                                    </span>
                                </span>
                            </span>
                            <div class="pdl-13 pdt-47 pdr-13 pdb-56 brtlr-6 brtrr-6 brbrr-6 brblr-6 bg-clr-quaternary-5 clr-black mnh-100-p p-rel z-i-1 flex-grow-1 pdl-lg-27 pdt-lg-26 pdr-lg-20 pdb-lg-37">
                                <span class="d-block fts-29 fts-lg-50 lh-1-2 ftw-800 clr-black opc-0-6 p-abs r-17 b-10 r-lg-19 b-lg-3- z-i-1-">05</span>
                                <h4 class="fts-12 ftw-700 lh-1-2 mrb-14 clr-accent fts-lg-24 mrb-lg-28">Качество и Гарантия</h5> 
                                <p class="fts-10 lh-1-3 ftw-400 fts-lg-16 lh-1-25">Мы гарантируем высокое качество изделий. У нас вы получаете честную гарантию 2 года на корпуса и фасады и до 25 лет на фурнитуру Hettich, Blum, Firmax.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-6 col-sm-4 col-lg-6 col-xl-4 pdl-5 pdr-5 mnh-lg-220 mrb-25 mrb-lg-15 mrb-lg-18 pdl-lg-10 pdr-lg-10">
                        <div class="p-rel z-i-1 pdt-38 mnh-100-p d-flex flex-column pdt-lg-89">
                            <span class="d-block p-abs z-i-100 l-50-p t-0- z-i-1 t-trX-50-p-">
                                <span class="mnh-76 mnw-76 brr-50-p bg-clr-accent-3 clr-white d-flex justify-content-center align-items-center h-lg-110 w-lg-110">
                                    <span class="d-block fts-40 p-rel l-3 t-3 t-lg-1- l-lg-3 fts-lg-61">
                                        <i class="icon-promotions-and-discounts"></i>
                                    </span>
                                </span>
                            </span>
                            <div class="pdl-13 pdt-47 pdr-13 pdb-56 brtlr-6 brtrr-6 brbrr-6 brblr-6 bg-clr-quaternary-5 clr-black mnh-100-p p-rel z-i-1 flex-grow-1 pdl-lg-27 pdt-lg-26 pdr-lg-20 pdb-lg-37">
                                <span class="d-block fts-29 fts-lg-50 lh-1-2 ftw-800 clr-black opc-0-6 p-abs r-17 b-10 r-lg-19 b-lg-3- z-i-1-">06</span>
                                <h4 class="fts-12 ftw-700 lh-1-2 mrb-14 clr-accent fts-lg-24 mrb-lg-28">Акции и Скидки</h5> 
                                <p class="fts-10 lh-1-3 ftw-400 fts-lg-16 lh-1-25">Для нас важны - доверие и рекомендации. Поэтому для наших дилеров и постоянных клиентов у нас специальные, выгодные условия сотрудничества и скидки..</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>