<div class="over-hid">
    <div class="container">
        <section class="d-block pdt-73 pdb-10 pdb-lg-52 pdt-lg-69">
            <header class="d-block mrb-69 mrb-lg-46">
                <h2 class="fts-30 lh-1-267 ftw-800 clr-accent Mont tt-upp fts-lg-42 lh-lg-1-2858">Производители</h2>
            </header>
            <div class="d-block">
                <div class="p-rel z-i-1 mrl-20- mrr-20- mrl-lg-36- mrr-lg-36-">
                    <div class="swiper carouselManufacturers over-vis">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper align-items-center">
                            <!-- Slides -->
                            <div class="swiper-slide pdl-20 pdr-20 pdl-lg-36 pdr-lg-36">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 mxw-135 mxw-lg-none">
                                        <img class="d-block objf-cv mxh-100-p h-100-p" src="./img/section-manufacturers/manufacturers-picture-1.png" alt="photo">
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-20 pdr-20 pdl-lg-36 pdr-lg-36">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 mxw-135 mxw-lg-none">
                                        <img class="d-block objf-cv mxh-100-p h-100-p" src="./img/section-manufacturers/manufacturers-picture-2.png" alt="photo">
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-20 pdr-20 pdl-lg-36 pdr-lg-36">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 mxw-135 mxw-lg-none">
                                        <img class="d-block objf-cv mxh-100-p h-100-p" src="./img/section-manufacturers/manufacturers-picture-3.png" alt="photo">
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-20 pdr-20 pdl-lg-36 pdr-lg-36">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 mxw-135 mxw-lg-none">
                                        <img class="d-block objf-cv mxh-100-p h-100-p" src="./img/section-manufacturers/manufacturers-picture-4.png" alt="photo">
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-20 pdr-20 pdl-lg-36 pdr-lg-36">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 mxw-135 mxw-lg-none">
                                        <img class="d-block objf-cv mxh-100-p h-100-p" src="./img/section-manufacturers/manufacturers-picture-1.png" alt="photo">
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-20 pdr-20 pdl-lg-36 pdr-lg-36">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 mxw-135 mxw-lg-none">
                                        <img class="d-block objf-cv mxh-100-p h-100-p" src="./img/section-manufacturers/manufacturers-picture-2.png" alt="photo">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="d-flex justify-content-center mrl-9- mrr-9- mrl-lg-10- mrr-lg-10-">
                            <div class="swiper-pagination pdt-35 pdt-lg-74 mrb-9- mrb-lg-10- mnw-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>