<div class="d-none d-lg-block">
    <div class="container">
        <section class="d-block pdt-73 pdb-10 pdb-lg-19 pdt-lg-85">
            <header class="d-block mrb-48 mrb-lg-48 text-center text-lg-left d-none">
                <h2 class="fts-30 lh-1-267 ftw-800 clr-accent Mont tt-upp fts-lg-42 lh-lg-1-2858"></h2>
            </header>
            <div class="d-block">
                <div class="p-rel z-i-1 mrl-10- mrr-10-">
                    <div class="swiper carouseFacades over-vis">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-1.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">Фасады МДФ в пленке ПВХ </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-2.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">Фасады в пластике </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-3.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">Крашенные фасады </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-4.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">ФАСАДЫ ИЗ МАССИВА</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-5.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">АЛЮМИНИЕВЫЕ ФАСАДЫ</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-6.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">АКРИЛОВЫЕ ФАСАДЫ</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-7.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">КОМПЛЕТУЮЩИЕ</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-1.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">Фасады МДФ в пленке ПВХ </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-2.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">Фасады в пластике </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-3.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">Крашенные фасады </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-4.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">ФАСАДЫ ИЗ МАССИВА</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-5.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">АЛЮМИНИЕВЫЕ ФАСАДЫ</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-6.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">АКРИЛОВЫЕ ФАСАДЫ</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="swiper-slide pdl-10 pdr-10">
                                <span class="d-block">
                                    <span class="d-block p-rel z-i-1 brtlr-8 brtrr-8 brbrr-8 brblr-8 pdb-100-3-p">
                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-2- objf-cv mxh-100-p h-100-p w-100-p brr-inh" src="./img/section-facades/facades-picture-7.jpg" alt="photo">
                                        <span class="d-block bg-lngr-quaternary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                    </span>
                                    <span class="d-block w-100-p text-center mrt-26- p-rel z-i-100">
                                        <span class="d-block pdl-10 pdr-10">
                                            <span class="bg-lngr-accent mnh-44 pdt-4 pdb-4 pdl-10 pdr-10 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 clr-white">
                                                <span class="mnw-0">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="mnw-0 fts-14 ftw-700 lh-1-3 tt-upp">КОМПЛЕТУЮЩИЕ</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="d-flex justify-content-center mrl-9- mrr-9- mrl-lg-10- mrr-lg-10-">
                            <div class="swiper-pagination pdt-38 pdt-lg-13 mrb-9- mrb-lg-10- mnw-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>