<div>
    <div class="container">
        <div class="d-block pdt-7 pdb-39 pdt-lg-0">
            <div class="p-rel z-i-1">
                <div class="row mrl-15- mrr-15- mrl-lg-7- mrr-lg-7-">
                    <div class="col-12 col-md-5 col-lg-6 pdl-15 pdr-15 pdl-lg-7 pdr-lg-7 mrb-39 mrb-lg-0">
                        <div class="d-flex flex-column align-items-start pdr-23">
                            <div class="mrb-24 mrb-lg-21">
                                <h1 class="fts-50 fts-lg-59 ftw-700 lh-1 BebasNeue tt-upp fts-xl-79">ЗАМЕНА СТОЛЕШНИЦ НА КУХНЕ</h1> 
                            </div>
                            <div class="mrb-18 mrb-lg-33">
                                <p class="fts-17 ftw-700 tt-upp lh-1-1765">РАСЛАБЬТЕСЬ, МЫ ВСЕ СДЕЛАЕМ ЗА ВАС</p>
                            </div>
                            <div>
                                <a class="btn btn--default mnh-58 mnw-237 pdl-22 pdr-22 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay" href="#">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-16 ftw-700 lh-1-3">Получить расчет</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-6 pdl-15 pdr-15 pdl-lg-7 pdr-lg-7">
                        <div class="d-block pdt-lg-8">
                            <div class="d-block p-rel brtlr-6 brtrr-6 brbrr-6 brblr-6 pdb-47-6-p pdb-lg-55-7-p">
                                <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-2- objf-cv h-100-p w-100-p brr-inh" src="./img/section-replacement/bg.jpg" alt="bg">
                                <span class="d-block bg-lngr-primary p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh"></span>
                                <div class="d-block clr-white p-abs b-45- b-lg-42- l-0 r-0 z-i-10 pdl-sm-52 pdr-sm-52 pdl-lg-32 pdr-lg-32 pdl-xl-83 pdr-xl-83">
                                    <div class="row mrl-4- mrr-4-  mrl-lg-16- mrr-lg-16-">
                                        <div class="col-4 pdl-4 pdr-4 pdl-lg-16 pdr-lg-16 mnh-lg-124">
                                            <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                <div class="mnh-100-p pdt-11 pdl-5 pdr-5 pdb-17 pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8 d-flex flex-column align-items-center justify-content-start">
                                                    <div class="mrb-7">
                                                        <span class="d-block mnh-30 mnh-lg-45 d-flex justify-content-center align-items-center">
                                                            <span class="d-block">
                                                                <i class="icon-big-choice fts-26 fts-lg-40"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <p class="fts-14 ftw-700 lh-1-2143 Inter d-none d-lg-block">Качество сборки</p>
                                                        <p class="fts-8 ftw-700 lh-1-25 Inter d-lg-none">Большой выбор<br> продукции</p>
                                                    </div>
                                                </div>
                                                <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                            </div>
                                        </div>
                                        <div class="col-4 pdl-4 pdr-4 pdl-lg-16 pdr-lg-16 mnh-lg-124">
                                            <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                <div class="mnh-100-p pdt-11 pdl-5 pdr-5 pdb-17 pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8 d-flex flex-column align-items-center justify-content-start">
                                                    <div class="mrb-7">
                                                        <span class="d-block mnh-30 mnh-lg-45 d-flex justify-content-center align-items-center">
                                                            <span class="d-block">
                                                                <i class="icon-quality-assurance fts-31  fts-lg-43"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <p class="fts-14 ftw-700 lh-1-2143 Inter d-none d-lg-block">Гарантия товара</p>
                                                        <p class="fts-8 ftw-700 lh-1-25 Inter d-lg-none">Гарантия качества <br>и соблюдение сроков</p>
                                                    </div>
                                                </div>
                                                <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                            </div>
                                        </div>
                                        <div class="col-4 pdl-4 pdr-4 pdl-lg-16 pdr-lg-16 mnh-lg-124">
                                            <div class="brtlr-19 brtrr-19 brbrr-19 brblr-19 brtlr-lg-27 brtrr-lg-27 brbrr-lg-27 brblr-lg-27 h-100-p text-center p-rel z-i-1">
                                                <div class="mnh-100-p pdt-11 pdl-5 pdr-5 pdb-17 pdt-lg-18 pdl-lg-13 pdr-lg-13 pdb-lg-8 d-flex flex-column align-items-center justify-content-start">
                                                    <div class="mrb-7">
                                                        <span class="d-block mnh-30 mnh-lg-45 d-flex justify-content-center align-items-center">
                                                            <span class="d-block">
                                                                <i class="icon-direct-contact fts-31 fts-lg-45"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <p class="fts-14 ftw-700 lh-1-2143 Inter d-none d-lg-block">Доверие клиентов</p>
                                                        <p class="fts-8 ftw-700 lh-1-25 Inter d-lg-none">Прямой контакт <br>с производителем</p>
                                                    </div>
                                                </div>
                                                <span class="d-block bg-clr-accent-2 p-abs t-0 r-0 b-0 l-0 z-i-1- h-100-p w-100-p brr-inh opc-0-7-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>