<div>
    <div class="container">
        <div class="pdt-47 pdt-lg-0">
            <div class="pdt-19 d-none d-lg-block">
                <div class="d-flex mrb-42">
                    <div class="mrl-au">
                        <button class="btn-reset d-block clr-white">
                            <span class="d-block pdl-10 pdr-10 pdb-10 pdt-10 mrl-10- mrt-10- mrr-10- mrb-10-">
                                <span class="d-flex align-items-center mrl-7- mrr-7-">
                                    <span class="pdl-7 pdr-7">
                                        <span class="d-block fts-18 ftw-600 lh-1-2778 clr-black-2 FuturaPT">По убыванию цены</span>
                                    </span>
                                    <span class="pdl-7 pdr-7">
                                        <i class="icon-descending-price fts-20 clr-quaternary-6 tra-0-3s-ease"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-block pdb-78">
                <div class="d-block">
                    <div class="d-flex flex-column flex-md-row mrl-15- mrr-15-">
                        <div class="w-md-246 flex-shrink-0 pdl-15 pdr-15 pdb-60 pdb-lg-0">
                            @include('../global/sidebar.html')
                        </div>
                        <div class="flex-shrink-1 flex-grow-1 pdl-15 pdr-15">
                            @include('section-products.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>