<div class="d-block">
    <div class="row mrl-5- mrr-5- mrb-12- mrl-lg-10- mrr-lg-10- mrb-lg-28-">
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-4 pdl-5 pdr-5 pdb-12 pdl-lg-10 pdr-lg-10 pdb-lg-28">
            <div class="w-100-p h-100-p">
                <div class="d-flex flex-column brw-3 brs-sol clr-quaternary-3-br bg-clr-white brtlr-6 brtrr-6 brbrr-6 brblr-6 h-100-p">
                    <a class="d-block pdt-8 pdb-8 pdl-7 pdr-7 pdl-lg-59 pdr-lg-59 pdt-lg-16 pdb-lg-26 mnw-0" href="#">
                        <span class="d-block h-208 h-lg-332 p-rel">
                            <img class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 objf-cn h-100-p w-100-p" src="./img/global/image-1.jpg" alt="image-1">
                        </span>
                    </a>
                    <div class="d-block pdl-7 pdr-7 pdt-8 pdl-lg-13 pdr-lg-8 pdt-lg-14 SFProDisplay flex-grow-1 mnw-0">
                        <span class="d-block fts-8 fts-lg-12 lh-1 mrb-1 mrb-lg-4">Арт. 85036405</span>
                        <h4 class="fts-12 fts-lg-20 ftw-700 lh-1-2 mrb-7 mrb-lg-17">
                            <a class="d-block clr-inh clr-accent-h" href="#">Дверь для шкафа Delinia</a>
                        </h4>
                        <ul class="d-block list-reset mrb-11- fts-10 fts-lg-16">
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Размер</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">39.7×76.5 см </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                            <li class="d-block pdb-6 pdb-lg-11">
                                <span class="d-block p-rel z-i-1">
                                    <span class="d-flex justify-content-between mrl-3- mrr-3-">
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">Материал</span>
                                        <span class="d-block pdl-3 pdr-3 bg-clr-white mnw-0 flex-shrink-1 lh-1-1875">МДФ цвет графит </span>
                                    </span>
                                    <hr class="d-block mrt-0 mrb-0 mrl-0 mrr-0 br-0 brbw-1 brs-sol clr-quaternary-4-br p-abs w-100-p l-0 r-0 b-3 b-lg-4 z-i-1-">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-block pdt-14 pdb-12 pdl-7 pdr-7 pdl-lg-13 pdr-lg-8 pdt-lg-35 pdb-lg-18 SFProDisplay mnw-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center mrl-4- mrr-4-">
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 flex-grow-1 pdb-7 pdb-lg-0">
                                <span class="d-block fts-14 fts-lg-26 ftw-700">688 ₽/шт.</span>
                            </div>
                            <div class="pdl-4 pdr-4 mnw-0 flex-shrink-0 mxw-161 mxw-lg-none w-100-p w-lg-au align-self-center">
                                <a href="#" class="btn btn--default mnh-26 mnh-lg-42 pdl-10 pdr-10 pdl-lg-28 pdr-lg-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay">
                                    <span class="mnw-0">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="mnw-0 fts-10 fts-lg-14 ftw-700 lh-1-3">В корзину</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pdt-20 pdt-lg-50">
        <div>
            <a class="btn btn--default mnw-216 mnh-58 pdl-28 pdr-28 d-flex justify-content-center align-items-center brtlr-10 brtrr-10 brbrr-10 brblr-10 SFProDisplay" href="#">
                <span class="mnw-0">
                    <span class="d-flex justify-content-center align-items-center">
                        <span class="mnw-0 fts-16 ftw-700 lh-1-3">Показать еще</span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>